@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600;700&family=Plus+Jakarta+Sans:wght@200;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  min-height: 100%;
  margin: auto;
}

.image_project {
  display: block;
  width: 100%;
}

:root {
  --font-color-black: #1c1d1e;
  --font-color-gray: #515151;
  --font-color-cyan: #0ad19d;
  --font-color-bright-gray: #f0f0f0;
  --font-color-white: #fff;
  --font-color-light-gray: #c5c5c5;
  --font-color-green: #0ad19d;
  --buttom-color-pink: #f52e62;
  --font-family-header: "Poppins", sans-serif;
  --font-family-paragraph: "Poppins", sans-serif;
  --container-width: 1200px;
  --project-main-content-width: 680px;
}
