@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  min-height: 100%;
  margin: auto;
}

.image_project {
  display: block;
  width: 100%;
}

:root {
  --font-family-header: "Poppins", sans-serif;
  --font-family-paragraph: "Poppins", sans-serif;
  --container-width: 1200px;
  --project-main-content-width: 680px;
}
