@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.navbar-brand {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.nav-link {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin: 15px 0;
  font-weight: 400;
}

.nav-item {
  display: flex;
  justify-content: center;
  margin: auto;
}

.header-block {
  background-image: url("../img/header/header-bg-home.png");
}

.header-block-container {
  display: flex;
  flex-direction: column;
  background: rgba(31, 31, 31, 0.7);
}

.header-container-left {
  max-width: 500px;
  margin: 30px 30px 0 30px;
}

.header-container-left-title {
  display: flex;
  max-width: 360px;
}

.header-container-left-title-content {
  margin-left: 15px;
  font-size: 36px;
  font-weight: bold;
  color: rgb(222, 222, 222);
  max-height: 110px;
}

.header-container-left-content {
  margin: 10px 0 10px 10px;
  color: rgb(222, 222, 222);
  text-align: justify;
  text-indent: 10%;
}

.header-container-left-button > .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  background: #ffb400 !important;
  color: #ffffff;
  border-radius: 0;
  width: 230px;
  height: 55px;
  font-weight: bold;
  letter-spacing: 1px;
}

.header-container-right {
  margin: 10px 30px 10px 30px;
}

.header-container-right-title {
  color: #ffb400;
  font-size: 32px;
  font-weight: 600;
  margin: 20px 10px 10px 10px;
}

.header-container-right-block-section {
  display: flex;
  margin: 15px 10px;
}

.header-container-right-block-section-box {
  margin: 5px 10px;
}

.header-container-right-block-section-image {
  width: 70px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container-right-block-section-title {
  color: #dedede;
  font-size: 20px;
}

.header-container-right-block-section-content {
  color: #dedede;
  width: 250px;
  text-align: justify;
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  height: 134px;
}

.quote-content {
  font-size: 25px;
  font-weight: 600;
  line-height: 25px;
  padding: 10px;
}

.quote-button {
  padding: 10px;
}

.quote-button > .btn {
  border-radius: 0;
  border-width: 4px;
  font-weight: bold;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  header {
    margin: 0 auto;
    max-width: 1200px;
  }

  .header-container-left-title-content {
    font-size: 48px;
  }

  .header-block-container {
    flex-direction: row;
    justify-content: space-evenly;
    height: 425px;
  }

  .header-container-left-title {
    max-width: 420px;
    line-height: 52px;
  }

  .header-container-left-title-rectangle {
    height: 100%;
  }

  .bg-image {
    max-width: 1200px;
  }

  .nav-link {
    font-size: 14px;
  }

  .navbar {
    padding: 20px 20px;
    font-size: 14px;
    justify-content: center;
  }

  .navbar-collapse {
    display: flex;
    justify-content: end;
  }

  .quote-container {
    flex-direction: row;
    height: 80px;
  }
}

@media (max-width: 375px) {
  .header-container-left {
    margin: 20px 5px;
  }

  .header-container-right {
    margin: 0 5px;
  }
}
