@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap');

.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;

  appearance: none;
  background: none;
  outline: none;
  border: none;

  z-index: 99;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: #2a2a2a;
  border-radius: 1rem;
  margin: 6px 0;
  transition: 0.1s;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-7px, 4px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-8px, -6px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  min-height: 100vh;
  transition: top 0.3s ease;
  display: block;
  z-index: -1;
  background-color: #ffb400;
  padding-top: 120px;
}

.mobile-nav.is-active {
  top: 0;
}

.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  color: #2a2a2a !important;

}

.mobile-nav a:hover {
  color: #F7F7F7 !important;
  transition: 0.1s;

}

.navbar {
  display: block !important;
  background-color: #ffb400;
  z-index: 99;
}

.navbar-container {
  display: flex;
  justify-content: space-between !important;
  z-index: 100;
}

.nav-logo {
  display: none;
}

.navbar-brand {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 28px !important;
  color: #2a2a2a;
}

.navbar-brand:hover {
  color: #2a2a2a;
}

.nav-link {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  transition: 0.1s;
  margin: 15px 0;
  font-weight: 400;
  color: #2a2a2a !important;
}

.nav-link:hover {
  color: #F7F7F7 !important;
}

.nav-item {
  display: flex;
  justify-content: center;
  margin: auto;
}

.header-block {
  margin-top: 58px;
  background-image: url("../img/header/header-bg-home.png");
}

.header-block-container {
  display: flex;
  flex-direction: column;
  background: rgba(31, 31, 31, 0.7);
}

.header-container-left {
  margin: 50px 5px 0 5px;
}

.header-container-left-title {
  display: flex;
  max-width: 360px;
}

.header-container-left-title-rectangle img {
  margin-left: 10px;
}

.header-container-left-title-content {
  margin-left: 5px;
  font-size: 45px;
  line-height: 1.2;
  font-weight: bold;
  color: rgb(222, 222, 222);
  max-height: 110px;
}

.header-container-left-content {
  margin: 15px 10px;
  color: rgb(222, 222, 222);
  text-align: justify;
  text-indent: 10%;
  font-size: 16px;
}

.header-container-left-button .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  background: #ffb400 !important;
  color: #ffffff;
  border-radius: 0;
  width: 230px;
  height: 55px;
  font-weight: bold;
  letter-spacing: 1px;
}

.header-container-left-button {
  display: flex;
  justify-content: end;
}

.header-container-left-down-arrows {
  display: flex;
  justify-content: center;
}

.header-container-left-down-arrows img {
  width: 44px;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .navbar {
    display: flex !important;
    height: 89px;
  }

  .navbar-logo-container {
    display: flex;
  }

  .nav-logo {
    display: block;
    height: 50px;
    margin-right: 5px;
  }

  .nav-link {
    font-size: 16px;
  }

  .navbar-logo-container {
    display: flex;
    align-items: center;
  }

  .navbar-logo-container a {
    font-size: clamp(1rem, 3.4783vw + 0.3043rem, 3rem) !important;
  }

  header {
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 89px;
  }

  .header-container-left {
    margin: 20px;
  }

  .header-container-left-content {
    margin: 15px 10px;
    font-size: 19px;
  }

  .header-container-left-title-content {
    font-size: 78px;
    margin-left: 15px;
  }

  .header-block {
    margin-top: 0;
  }

  .header-block-container {
    flex-direction: row;
    justify-content: space-evenly;
    height: 450px;
  }

  .header-container-left-title {
    max-width: none;
    line-height: 52px;
  }

  .header-container-left-title-rectangle {
    height: 100%;
  }

  .bg-image {
    max-width: 1200px;
  }

  .fixed-top {
    justify-content: center !important;
  }

  .navbar-container {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    width: 1200px;
    margin-top: 0;
  }

  .navbar-collapse {
    display: flex;
    justify-content: end;
  }
}

@media (min-width: 1024px) {
  .header-container-left {
    margin: 50px 20px;
  }

  .header-block-container {
    height: 425px;
  }
}

@media (max-width: 290px) {
  .navbar-brand {
    font-size: 22px !important;
  }

  .header-container-left {
    margin-top: 50px;
  }
}
