.jobs {
    display: flex;
    justify-content: center;
}

.jobs-container {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.jobs-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 10px;
}

.jobs-column  {
    display: flex;
    margin-left: 5px;
    min-width: 60px;
    flex-direction: column;
    align-items: center;
}

.jobs-container-column-section-box {
    align-items: start;
    max-width: 380px;
}

.jobs-column-img {
    margin-top: 5px;
}

.jobs-column-title  {
    font-weight: bold;
    font-size: 20px;
    margin: 0 5px;
}

.jobs-column-content  {
    text-align: justify;
    margin-left: 5px;
    font-size: 18px;
}

@media (min-width: 360px) {
    .jobs-section {
        margin: 20px;
    }
}

@media (min-width: 768px) {
    .jobs {
        max-width: 1200px;
        margin: 20px auto;
    }

    .jobs-container {
        flex-direction: column;
        margin: 20px 40px;
    }

    .jobs-container-column-section-box {
        width: 280px;
    }

    .jobs-container-column {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .jobs-section {
        margin: 15px;
    }
}

@media (min-width: 1024px) {
    .jobs-container {
        flex-direction: row;
        margin: 20px 10px;
    }

    .jobs-container-column {
        flex-direction: column;
        justify-content: flex-start;
        max-width: 383px;
    }

    .jobs-section {
        margin: 10px;
    }
}