.project__header {
  background-image: url("../img/projects/header.png");
  max-width: 1200px;
  padding-top: 20px;
  height: 250px;
  margin: auto;
}

.project__header__description {
  min-height: 100%;
  max-width: var(--container-width);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: start;
  padding: 53px 0 53px 0;
}

.project__header__description-title {
  padding: 0 20px;
  color: #ffffff;
  font-family: var(--font-family-header);
  font-size: 36px;
  font-weight: 500;
}

.project__header__description-path {
  padding: 0 20px;
  color: #ffffff;
  font-family: var(--font-family-paragraph);
}

.project__content {
  max-width: var(--container-width);
  min-height: 100%;
  padding: 25px 0 25px 0;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.project__content__main {
  min-height: 100%;
}

.project__content__additional {
  min-height: 100%;
  max-width: var(--project-main-content-width);
}

.project__header-link{
  color: #ffffff;
}

.project__header-link:hover{
  color: #ffffff;
}

.project__content__main__title-image {
  padding: 0 20px;
  display: block;
  max-width: 100%;
  margin: auto;
}

.project__content__main__full-description {
  padding: 0 25px;
  max-width: var(--project-main-content-width);
  margin: 25px auto auto;
  color: #000;
  font-family: var(--font-family-header);
  font-size: 17px;
  text-align: justify;
}

.project__content__main__additional-images {
  margin-top: 25px;
  max-width: var(--container-width);
  display: grid;
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
  grid-template-columns: 234px;
}

.project__content__main__additional-images__image {
  max-width: 234px;
  max-height: 165px;
}

.project__content__main__management {
  max-height: 100px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
}

.project__content__main__management__link {
  text-decoration: none !important;
  display: flex;
  cursor: pointer;
  margin-top: 10px;
}

.project__content__main__management__link p {
  color: #000;
  font-family: var(--font-family-paragraph);
  font-weight: bold;
  text-decoration: none !important;
}

.project__content__additional {
  padding: 20px;
  align-self: center;
}
.project__content__additional__info{
  display: flex;
  flex-direction: column;
  align-content: start;
}

.project__content__additional__name {
  font-family: var(--font-family-header);
  font-size: 35px;
  margin-bottom: 32px;
}

.project__content__additional__short-description {
  margin-bottom: 32px;
  font-family: var(--font-family-paragraph);
  font-size: 17px;
  text-align: justify;
}

.project__content__additional__info__unit {
  display: flex;
  justify-content: space-between;
  align-content: center;
  max-height: 70px;
}

.project__content__additional__info__unit__header {
  font-family: var(--font-family-header);
  font-size: 22px;
}

.project__content__additional__info__unit__text {
  font-family: var(--font-family-paragraph);
  font-weight: 200;
  font-size: 17px;
  text-align: right;
  padding-top: 4px;
}

.project__content__main__management__link .btn-back,
.project__content__main__management__link .btn-next {
  background-color: white;
  color: black;
  border-radius: 0;
  border-width: 4px;
  font-weight: bold;
  letter-spacing: 1px;
}

.project__content__main__management__link .btn-back:hover,
.project__content__main__management__link .btn-next:hover {
  background-color: #2a2a2a;
  color: white;
}

@media (min-width: 360px) {
  .project__header {
    padding-top: 30px;
  }
}

@media (min-width: 690px) {
  .project__header__description {
    padding: 0;
  }

  .project__content__main__management {
    margin: 0 50px 0;
  }

  .project__content__main__additional-images__image {
    max-width: 330px;
    max-height: 285px;
  }

  .project__content__main__full-description {
    padding: 0 10px;
    text-indent: 5%;
    text-align: justify;
  }

  .project__content__main__additional-images {
    grid-template-columns: 330px 330px;
  }

  .project__content__main__title-image {
    padding: 0 20px;
    display: block;
    max-width: var(--project-main-content-width);
    max-height: 590px;
  }

  .project__content__main__management {
    max-width: var(--container-width);
    padding: 0;
    margin-top: 25px;
  }
}

@media (min-width: 1000px) {
  .project__content {
    flex-direction: row-reverse;
    gap: 85px;
    padding: 50px 0 100px;
    justify-content: space-between;
  }

  .project__content__additional{
    width: 40%;
    align-self: start;
  }

  .project__header__description {
    min-height: 100%;
    max-width: var(--container-width);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: start;
    padding: 53px 0 53px 54px;
  }
}
