.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 134px;
}

.quote-content {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    padding: 10px 20px;
}

.quote-button {
    padding: 10px;
}

.quote-button .btn-outline-warning {
    border-color: #ffb400 !important;
    border-radius: 0;
    border-width: 4px;
    font-weight: bold;
    letter-spacing: 1px;
}

.modal-title {
    font-size: clamp(1rem, 1.6783vw + 0.3043rem, 3rem);
}

.form-buttons .btn-warning {
    background: #ffb400 !important;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 0;
    width: 100%;
    margin: 30px auto 10px;
}

.form-buttons .btn-warning:hover {
    color: #2a2a2a;
}

.modal-body label {
    margin: 10px 0;
}

.close {
    display: flex;
}

.quote-input-form {
    background-color: #F7F7F7 ;
}

@media (min-width: 768px) {
    .quote {
        display: flex;
        justify-content: center;
        margin: 20px auto;
    }

    .quote-container {
        flex-direction: row;
        min-height: 70px;
    }

    .quote-content {
        font-size: 38px;
        line-height: 40px;
    }

    .quote-button {
        padding-left: 40px;
    }
}

@media (min-width: 1024px) {
    .quote {
        max-width: 1200px;
        margin: 20px auto 40px;
    }

    .quote-container {
        flex-direction: row;
        justify-content: flex-start;
        min-height: 60px;
        height:60px;
        max-width: 1200px;
    }

    .quote-button {
        padding-left: 0;
    }

    .modal-title {
        font-size: clamp(1rem, 0.9vw + 0.3043rem, 3rem);
    }
}