@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.top-counters {
    display: flex;
    flex-direction: column;
}

.counters-left-container {
    display: flex;
    flex-direction: column;
}

.counters-right-container {
    background-color: #F7F7F7;
}

.counters-left-container-image > img {
    display: none
}

.right-container-top {
    display: flex;
    flex-direction: column;
}

.right-container-top-title > h2 {
    /*font-size: clamp(1rem, 3.4783vw + 1.4043rem, 3rem);*/
    font-size: 38px;
    font-weight: 600;
    line-height: 25px;
    padding-top: 30px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.right-container-top-divider {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

.right-container-top-text-left > p {
    margin: 15px 30px;
    text-align: justify;
    text-indent: 10%;
}

.right-container-top-text-right > p {
    margin: 0 30px 30px;
    text-align: justify;
    text-indent: 10%;
}

.right-container-top-text-button {
    display: flex;
    justify-content: end;
    margin: 15px 30px;
}

.learn-more-button > .btn {
    border-radius: 0;
    border-width: 4px;
    font-weight: bold;
    letter-spacing: 1px;
}

.learn-more-button {
    padding: 10px 0;
}

.right-container-bottom {
    display: flex;
    justify-content: space-around;
}

.right-container-bottom-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-container-bottom-years {
    background-color: #ffb400;
    width: 100%;
}

.years-counter {
    display: flex;
    justify-content: center;
    color: #2a2a2a;
    font-size: 38px;
    font-weight: 600;
    margin-top: 10px;
}

.years-counter-title {
    display: flex;
    justify-content: center;
    color: #2a2a2a;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.right-container-bottom-projects {
    background-color: #2a2a2a;
    width: 100%;
}

.projects-counter {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 38px;
    font-weight: 600;
    margin-top: 10px;
}

.projects-counter-title {
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .right-container-top-title > h2 {
        font-size: 40px;
        font-weight: 600;
    }

    .top-counters {
        flex-direction: row;
    }

    .right-container-top-content {
        display: flex;
    }

    .right-container-top-text-left > p{
        margin: 30px 20px 30px 45px;
    }

    .right-container-top-text-right > p {
        margin: 30px 45px 30px 20px;
    }

    .right-container-top-text {
        margin-bottom: 40px;
        min-width: 50%;
    }

    .right-container-top-text-button {
        margin: 35px 45px;
    }

    .learn-more-button {
        padding-top: 30px;
    }
}

@media (min-width: 1023px) {
    .top-counters {
        max-width: 1200px;
        margin: 0 auto;
    }

    .counters-right-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .counters-left-container-image {
        max-width: 520px;
        height: 100%;
        margin: 0 auto;
        position: relative;
    }

    .counters-left-container-image > img {
        min-width: 100%;
        height: auto;
        display: block;
        filter: brightness(0.9);
    }
}
