<div class="about-top-container">
  <h2>O Firmie</h2>
  <img class="about-top-container-divider" src="/img/top-counter/counter-divider.svg" alt="yellow divider">
</div>

<div class="about-bottom-container">
  <div class="bottom-container-left bottom-container-text">
    <p>
      Lorem ipsum dolor sit consectetur adipiscing elit. Nullam lectus erat, consectetur eu sapien eget rhoncus
      consectetur sem. Proin cursus, dolor a mollis consectetur, risus dolor fermentum massa, a commodo elit dui
      sit amet risus. Maecenas ornare nisl a tortor ultrices bibendum. Nulla fermentum, metus quis sodales
      tristique, augue mauris molestie augue non feugiat ligula neque nec felis.
    </p>
  </div>
  <div class="bottom-container-right bottom-container-text">
    <p>
      Lorem ipsum dolor sit consectetur adipiscing elit. Nullam lectus erat, consectetur eu sapien eget rhoncus
      consectetur sem. Proin cursus, dolor a mollis consectetur, risus dolor fermentum massa, a commodo elit dui
      sit amet risus. Maecenas ornare nisl a tortor ultrices bibendum. Nulla fermentum, metus quis sodales
      tristique, augue mauris molestie augue non feugiat ligula neque nec felis.
    </p>
  </div>
</div>

