<div class="about-top-container">
  <h2>O Firmie</h2>
  <img class="about-top-container-divider" src="/img/top-counter/counter-divider.svg" alt="yellow divider">
</div>

<div class="about-bottom-container">
  <div class="bottom-container-left bottom-container-text">
    <p>
      Nasza firma specjalizuje się w budowie domów mieszkalnych, pracach elewacyjnych,
      układaniu kostki brukowej oraz remontach. Ciągle poszerzamy nasze możliwości i rozwijamy się,
      dlatego współpraca z nami pozwoli otworzyć nowe horyzonty i perspektywy rozwoju twojej przestrzeni mieszkalnej
      lub poprawy jej stanu.
    </p>
  </div>
  <div class="bottom-container-right bottom-container-text">
    <p>
      Jesteśmy młodą firmą, działamy na dobre imię, więc jakość i dostępna cena usług są
      dla nas niezmiernie ważne. Naszym celem jest pokazanie klientowi, że każda budowa lub prace remontowe mogą być
      przyjemne i wygodne. Jesteśmy również otwarci na współpracę z innymi firmami budowlanymi, więc możemy omówić
      dowolne propozycje.
    </p>
  </div>
</div>

