<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Phone Number Notification</title>
    </head>
    <body style="background-color: #F7F7F7;">

        <div
            style="background-color: #ffb400; padding: 20px; text-align: center;">
            <h1 style="color: #343a40;">Wymarzony Dom</h1>
        </div>

        <div style="padding: 20px; background-color: #ffffff">
            <p>Drogi Vitaliu,</p>

            <p>Chcieliśmy poinformować cię, że ktoś zostawił swój numer telefonu
                na twojej stronie internetowej. Oto szczegóły:</p>

            <ul>
                <li><strong>Numer telefonu:</strong>
                    <a th:text="${number}" th:href="|tel:${number}|"></a>
                </li>
            </ul>

            <p>Prosimy podjąć niezbędne kroki, aby możliwie najszybciej
                skontaktować się z tą potencjalną leadem.</p>

            <p>Dziękujemy za uwagę poświęconą temu zagadnieniu.</p>

            <p>Z poważaniem,<br>
                Twoja drużyna strony internetowej</p>
        </div>
    </body>
</html>
