<section class="header-block">
    <div class="header-block-container">
        <div class="header-container-left">
            <div class="header-container-left-title">
                <div class="header-container-left-title-rectangle">
                    <img src="/img/header/rectangle.svg" alt="Yellow rectangle before text">
                </div>
                <div class="header-container-left-title-content">Usługi Budowlane</div>
            </div>

            <div class="header-container-left-content">
                Jesteśmy młodą, dynamiczną firmą, która zachwyca swoją świeżością i dążeniem do jakości. Naszym celem
                nie jest tylko zadowolenie, ale także przewyższenie oczekiwań klientów. Elastyczność i doświadczenie
                naszego zespołu gwarantują nie tylko korzystne warunki, ale także pełne zadowolenie z każdego projektu.
            </div>
            <div class="header-container-left-button">
                <a type="button" href="tel:+48%20792%20049%20483" class="btn btn-warning">KONTAKT</a>
            </div>
            <div class="header-container-left-down-arrows">
                <img src="/img/header/double-arrow-down.svg" alt="double arrow down">
            </div>
        </div>
    </div>
</section>
