<div class="header-block">
    <div class="header-block-container">
        <div class="header-container-left">
            <div class="header-container-left-title">
                <div class="header-container-left-title-rectangle">
                    <img src="/img/header/rectangle.svg" alt="Yellow rectangle before text">
                </div>
                <div class="header-container-left-title-content">Construction Services</div>
            </div>

            <div class="header-container-left-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis egestas
                pellentesque libero dolor in diam consequat ut. Lorem ipsum dolor sit amet,
                consectetur.
            </div>
            <div class="header-container-left-button">
                <button type="button" class="btn btn-warning">CONTACT US</button>
            </div>
        </div>

        <div class="header-container-right">
            <div class="header-container-right-title">What We Do</div>
            <div class="header-container-right-block">
                <div class="header-container-right-block-section">
                    <div class="header-container-right-block-section-image">
                        <img src="/img/header/Group%20429.svg" alt="Yellow building">
                    </div>
                    <div class="header-container-right-block-section-box">
                        <div class="header-container-right-block-section-title">Building Construction</div>
                        <div class="header-container-right-block-section-content">
                            Lorem ipsum dolor sit consectetur adipiscing elit. Nullam lectus erat
                        </div>
                    </div>
                </div>
                <div class="header-container-right-block-section">
                    <div class="header-container-right-block-section-image">
                        <img src="/img/header/Group%20434.svg" alt="Yellow tools">
                    </div>
                    <div class="header-container-right-block-section-box">
                        <div class="header-container-right-block-section-title">Building Repairs</div>
                        <div class="header-container-right-block-section-content">
                            Lorem ipsum dolor sit consectetur adipiscing elit. Nullam lectus erat
                        </div>
                    </div>
                </div>
                <div class="header-container-right-block-section">
                    <div class="header-container-right-block-section-image">
                        <img src="/img/header/Group%20433.svg" alt="Yellow brush">
                    </div>
                    <div class="header-container-right-block-section-box">
                        <div class="header-container-right-block-section-title">Custom Design</div>
                        <div class="header-container-right-block-section-content">
                            Lorem ipsum dolor sit consectetur adipiscing elit. Nullam lectus erat
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="quote-container">
    <div class="quote-content">Get a Quote For Your Project</div>
    <div class="quote-button">
        <button type="button" class="btn btn-outline-warning">FREE QUOTE</button>
    </div>
</div>
