<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Building Company</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>

<body>
<header>
    <div th:insert="~{top-nav.html}"></div>
    <div th:insert="~{header-home.html}"></div>
</header>

<section class="jobs" th:insert="~{jobs-home.html}"></section>
<section class="quote" th:insert="~{services-call.html}"></section>
<section class="top-counters" th:insert="~{top-counters.html}"></section>
<section class="our-projects" th:insert="~{our-projects.html}"></section>
<section class="about-us" th:insert="~{about-us.html}"></section>
<section class="comments" th:insert="~{comments-home.html}"></section>
<section class="quote" th:insert="~{quote-home.html}"></section>
<footer class="footer" th:insert="~{footer.html}"></footer>

<div id="toastMessage" class="toast-message" style="display:none;">
    <span id="toastContent"></span>
</div>

<script>
    const menu_btn = document.querySelector('.hamburger');
    const mobile_menu = document.querySelector('.mobile-nav');

    menu_btn.addEventListener('click', function () {
        menu_btn.classList.toggle('is-active')
        mobile_menu.classList.toggle('is-active')
    })
</script>

<script>
    function showToast(message, isError = false) {
        const toastMessage = document.getElementById('toastMessage');
        const toastContent = document.getElementById('toastContent');

        toastContent.innerText = message;

        if (isError) {
            toastMessage.style.backgroundColor = 'rgba(255,0,0,0.65)';
        } else {
            toastMessage.style.backgroundColor = 'rgba(0,128,0,0.63)';
        }

        toastMessage.style.display = 'block';

        setTimeout(() => {
            toastMessage.style.display = 'none';
        }, 3000);
    }
</script>

<script>
    $(document).ready(function () {

        $('.items').slick({
            dots: false,
            infinite: true,
            speed: 800,
            autoplay: true,
            autoplaySpeed: 6000,
            slidesToShow: 2,
            slidesToScroll: 1,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 670,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 344,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }

            ]
        });
    });
</script>

<script>
    if ("[[${successMessage}]]") {
        showToast("[[${successMessage}]]");
    }
    if ("[[${errorMessage}]]") {
        showToast("[[${errorMessage}]]", true);
    }
</script>

</body>
</html>
