<div class="jobs-container">

    <div class="jobs-container-column">
        <div class="jobs-section jobs-container-column-section">
            <div class="jobs-column jobs-container-column-section-image">
                <img class="jobs-column-img" src="/img/header/Group%20429.svg" alt="Yellow building">
            </div>
            <div class="jobs-column jobs-container-column-section-box">
                <div class="jobs-column-title jobs-container-column-section-title">Budowy Domów</div>
                <div class="jobs-column-content jobs-container-column-section-content">
                    Lorem ipsum dolor sit consectetur adipiscing.
                </div>
            </div>
        </div>
        <div class="jobs-section jobs-container-column-section">
            <div class="jobs-column jobs-container-column-section-image">
                <img class="jobs-column-img" src="/img/header/Group%20433.svg" alt="Yellow tools">
            </div>
            <div class="jobs-column jobs-container-column-section-box">
                <div class="jobs-column-title jobs-container-column-section-title">Prace Malarskie</div>
                <div class="jobs-column-content jobs-container-column-section-content">
                    Lorem ipsum dolor sit consectetur adipiscing.
                </div>
            </div>
        </div>
    </div>

    <div class="jobs-container-column">
        <div class="jobs-section jobs-container-column-section">
            <div class="jobs-column jobs-container-column-section-image">
                <img class="jobs-column-img" src="/img/header/Group%20439.svg" alt="Yellow building">
            </div>
            <div class="jobs-column jobs-container-column-section-box">
                <div class="jobs-column-title jobs-container-column-section-title">Prace Brukarskie</div>
                <div class="jobs-column-content jobs-container-column-section-content">
                    Lorem ipsum dolor sit consectetur adipiscing.
                </div>
            </div>
        </div>
        <div class="jobs-section jobs-container-column-section">
            <div class="jobs-column jobs-container-column-section-image">
                <img class="jobs-column-img" src="/img/header/Group%20434.svg" alt="Yellow tools">
            </div>
            <div class="jobs-column jobs-container-column-section-box">
                <div class="jobs-column-title jobs-container-column-section-title">Murowanie</div>
                <div class="jobs-column-content jobs-container-column-section-content">
                    Lorem ipsum dolor sit consectetur adipiscing.
                </div>
            </div>
        </div>
    </div>

    <div class="jobs-container-column">
        <div class="jobs-section jobs-container-column-section">
            <div class="jobs-column jobs-container-column-section-image">
                <img class="jobs-column-img" src="/img/header/Group%20440.svg" alt="Yellow building">
            </div>
            <div class="jobs-column jobs-container-column-section-box">
                <div class="jobs-column-title jobs-container-column-section-title">Prace Rozbiórkowe</div>
                <div class="jobs-column-content jobs-container-column-section-content">
                    Lorem ipsum dolor sit consectetur adipiscing.
                </div>
            </div>
        </div>
        <div class="jobs-section jobs-container-column-section">
            <div class="jobs-column jobs-container-column-section-image">
                <img class="jobs-column-img" src="/img/header/Group%20441.svg" alt="Yellow tools">
            </div>
            <div class="jobs-column jobs-container-column-section-box">
                <div class="jobs-column-title jobs-container-column-section-title">Prace Pomocnicze</div>
                <div class="jobs-column-content jobs-container-column-section-content">
                    Lorem ipsum dolor sit consectetur adipiscing.
                </div>
            </div>
        </div>
    </div>

</div>
