<div class="jobs-container">

    <div class="jobs-container-column">
        <div class="jobs-section jobs-container-column-section">
            <div class="jobs-column jobs-container-column-section-image">
                <img class="jobs-column-img" src="/img/header/building-icon.svg" alt="Building icon">
            </div>
            <div class="jobs-column jobs-container-column-section-box">
                <div class="jobs-column-title jobs-container-column-section-title">Budowy Domów</div>
                <div class="jobs-column-content jobs-container-column-section-content">
                    Tworzenie solidnych domów z dbałością o każdy detal.
                </div>
            </div>
        </div>
        <div class="jobs-section jobs-container-column-section">
            <div class="jobs-column jobs-container-column-section-image">
                <img class="jobs-column-img" src="/img/header/brush-icon.svg" alt="Brush icon">
            </div>
            <div class="jobs-column jobs-container-column-section-box">
                <div class="jobs-column-title jobs-container-column-section-title">Prace Malarskie</div>
                <div class="jobs-column-content jobs-container-column-section-content">
                    Doskonałe malowanie ścian dla trwałego i estetycznego efektu.
                </div>
            </div>
        </div>
    </div>

    <div class="jobs-container-column">
        <div class="jobs-section jobs-container-column-section">
            <div class="jobs-column jobs-container-column-section-image">
                <img class="jobs-column-img" src="/img/header/cobblestone-icon.svg" alt="Cobblestone icon">
            </div>
            <div class="jobs-column jobs-container-column-section-box">
                <div class="jobs-column-title jobs-container-column-section-title">Prace Brukarskie</div>
                <div class="jobs-column-content jobs-container-column-section-content">
                    Precyzyjne układanie kostki dla estetycznych nawierzchni.
                </div>
            </div>
        </div>
        <div class="jobs-section jobs-container-column-section">
            <div class="jobs-column jobs-container-column-section-image">
                <img class="jobs-column-img" src="/img/header/brick-wall-icon.svg" alt="Brick wall icon with trowel">
            </div>
            <div class="jobs-column jobs-container-column-section-box">
                <div class="jobs-column-title jobs-container-column-section-title">Murowanie</div>
                <div class="jobs-column-content jobs-container-column-section-content">
                    Precyzyjne układanie solidnych murów z użyciem cegieł i betonu.
                </div>
            </div>
        </div>
    </div>

    <div class="jobs-container-column">
        <div class="jobs-section jobs-container-column-section">
            <div class="jobs-column jobs-container-column-section-image">
                <img class="jobs-column-img" src="/img/header/crane-icon.svg" alt="Crane icon">
            </div>
            <div class="jobs-column jobs-container-column-section-box">
                <div class="jobs-column-title jobs-container-column-section-title">Prace Rozbiórkowe</div>
                <div class="jobs-column-content jobs-container-column-section-content">
                    Demontaż z zachowaniem bezpieczeństwa.
                </div>
            </div>
        </div>
        <div class="jobs-section jobs-container-column-section">
            <div class="jobs-column jobs-container-column-section-image">
                <img class="jobs-column-img" src="/img/header/Group%20434.svg" alt="Grey tools">
            </div>
            <div class="jobs-column jobs-container-column-section-box">
                <div class="jobs-column-title jobs-container-column-section-title">Prace Pomocnicze</div>
                <div class="jobs-column-content jobs-container-column-section-content">
                    Wsparcie przy budowlanych zadaniach.
                </div>
            </div>
        </div>
    </div>

</div>
