<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"
    >
    <link rel="stylesheet" th:href="@{/css/index.css}">

    <title>List all projects</title>
</head>
<body>
    <div th:fragment="projects">
        <div class="row justify-content-around">
            <button type="button" class="our-projects__content__project-card__description_view-all mb-4" onclick="location.href='/project/create'">Add</button>
        </div>
        <div class="our-projects__content-admin">
            <div class="our-projects__content__project-card" th:each="project, index: ${projects}">
                <img th:if="${project.getTitleImageLink() != null}" class="our-projects__content__project-card_picture" th:src="@{${project.getTitleImageLink()}}"
                     alt="project">
                <img th:if="${project.getTitleImageLink() == null}" class="our-projects__content__project-card_picture" alt="no-title-image" src="/img/default.jpg">
                <div class="our-projects__content__project-card__description">
                    <h3 class="our-projects__content__project-card__description_title" th:text="${project.getTitle()}">
                        Project title
                    </h3>
                    <p class="our-projects__content__project-card__description_text" th:text="${#strings.length(project.getDescription()) > 115 ? #strings.substring(project.getDescription(), 0, 115) + '...' : project.getDescription()}">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Id et euismod bibendum adipiscing et orci, fermentum.
                    </p>
                    <div class="admin-projects__controls">
                        <div class="admin-projects__controls-edit-delete">
                            <a th:href="@{/project/{projectId}/update(projectId=${project.getId()})}">
                                <img src="/img/icons/edit.svg" alt="edit">
                            </a>
                            <a th:href="@{/project/{projectId}/delete(projectId=${project.getId()})}">
                                <img src="/img/icons/delete.svg" alt="del" onclick="return confirm('Czy jesteś pewien, że chcesz usunąć ten projekt?')">
                            </a>
                        </div>
                        <a class="our-projects__content__project-card__description_more" th:href="@{/project/{projectId}(projectId=${project.getId()})}">
                            Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>