<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <title>Building company</title>
</head>

<body>
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <form th:action="@{/auth/login}" method="POST">
                                <h2 class="mb-5">Please sign in</h2>

                                <div class="form-outline mb-3">
                                    <input type="text" id="username" name="username" class="form-control"
                                           placeholder="Username"/>
                                    <label class="form-label" for="username"></label>
                                </div>

                                <div class="form-outline mb-3">
                                    <input type="password" id="password" name="password" class="form-control"
                                           placeholder="Password"/>
                                    <label class="form-label" for="password"></label>
                                </div>

                                <input type="submit" value="Login" class="btn btn-primary btn-lg btn-block mb-3"/>
                                <p th:if="${loginError}" class="error">Wrong username or password!</p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
