<div class="counters-left-container-dark">
  <div class="counters-left-container">
    <div class="counters-left-container-image">
      <img src="/img/top-counter/left-container-image.png" alt="wooden house frame">
    </div>
  </div>
</div>
<div class="counters-right-container">
  <div class="right-container-top">
    <div class="right-container-top-title">
      <h2>No Project Too Big Or Too Small</h2>
    </div>
    <div class="right-container-top-divider">
      <img src="/img/top-counter/counter-divider.svg" alt="yellow divider">
    </div>
    <div class="right-container-top-content">
      <div class="right-container-top-text">
        <div class="right-container-top-text-left">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sapien, dignissim tristique tellus sed faucibus nullam.
            Tincidunt mauris ut quam sed mauris proin feugiat. Scelerisque
            lorem posuere iaculis nunc amet phasellus.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sapien, dignissim tristique tellus sed faucibus nullam.</p>
        </div>
      </div>
      <div class="right-container-top-text">
        <div class="right-container-top-text-right">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sapien, dignissim tristique tellus sed faucibus nullam.
            Tincidunt mauris ut quam sed mauris proin feugiat. Scelerisque
            lorem posuere iaculis nunc amet phasellus.</p>
        </div>
        <div class="right-container-top-text-button">
          <div class="learn-more-button">
            <button type="button" class="btn btn-outline-dark">LEARN MORE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-container-bottom">
    <div class="right-container-bottom-years">
      <div class="years-counter">2</div>
      <div class="years-counter-title">YEARS ESTABLISHED</div>
    </div>
    <div class="right-container-bottom-projects">
      <div class="projects-counter">13</div>
      <div class="projects-counter-title">COMPLETED PROJECTS</div>
    </div>
  </div>
</div>