<div class="counters-left-container-dark">
  <div class="counters-left-container">
    <div class="counters-left-container-image">
      <img src="/img/top-counter/left-container-image.png"
        alt="wooden house frame">
    </div>
  </div>
</div>
<div class="counters-right-container">
  <div class="right-container-top">
    <div class="right-container-top-title">
      <h2>O Właścicielu:</h2>
    </div>
    <div class="right-container-top-divider">
      <img src="/img/top-counter/counter-divider.svg" alt="yellow divider">
    </div>
    <div class="right-container-top-content">
      <div class="right-container-top-text">
        <div class="right-container-top-text-left">
          <p>Założyciel firmy, Vitaliy Sachko, specjalista z dziesięcioletnim
            doświadczeniem w budownictwie i wykończeniach domów, z czego pięć
            lat to doświadczenie jako kierownik brygady budowlanej w Polsce.</p>

          <p>Dla niego budownictwo to jego życie, dlatego wkłada duszę w każdy
            projekt i stara się wykonywać go tak, jakby był dla siebie. Każdy
            projekt, zarówno duży, jak i mały, jest dla niego ważny - musi być
            wykonany dobrze. Największym projektem Vitaliia był dom o
            powierzchni 220 m kw.</p>
        </div>
      </div>
      <div class="right-container-top-text">
        <div class="right-container-top-text-right">
          <p>Został on zbudowany od podstaw do zakończenia prac remontowych.
            Korzystając z jego usług, możesz być pewien, że wszystkie twoje
            przedsięwzięcia budowlane będą udane.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="right-container-bottom">
    <div class="right-container-bottom-years">
      <div class="years-counter">7</div>
      <div class="years-counter-title">YEARS ESTABLISHED</div>
    </div>
    <div class="right-container-bottom-projects">
      <div class="projects-counter">23</div>
      <div class="projects-counter-title">COMPLETED PROJECTS</div>
    </div>
  </div>
</div>